In [1]:
import scanpy as sc
import anndata as ad
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

from sklearn.linear_model import ElasticNetCV, LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import FunctionTransformer

In [2]:
adata = sc.read_h5ad("./data/hultcd34_full.h5ad")

metadata = pd.read_csv('./data/metadata.csv').rename(columns={'Unnamed: 0': 'cell'}).set_index('cell')
adata.obs = metadata

everything that is not uncommitted in 'cluster' col in metadata are lineage progenitors

HSCs are denoted in 'subcluster' col in metadata

In [3]:
# code to normalize the data, just uncomment and run

# sc.pp.normalize_total(adata)
# sc.pp.log1p(adata)

In [4]:
df = adata.to_df()

In [5]:
df.head()

,X5S-rRNA,X5-8S-rRNA,X7SK,A1BG,A1BG.AS1,A1CF,A2M,A2M.AS1,A2ML1,A2ML1.AS1,...,snoU18,snoU2.30,snoU2-19,snoU83B,snoZ196,snoZ278,snoZ40,snoZ6,snosnR66,uc-338
cell,,,,,,,,,,,,,,,,,,,,,
BM1_bcBSQM,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BM1_bcCHLB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BM1_bcFZFC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BM1_bcGZEW,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BM1_bcFMRM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0